<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "postcode", id: "address_zipcode" %>
  </div>

  <div class="field">
    <%= f.label :prefecture_code %><br />
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: "address" %>
  </div>

  <div class="field">
    <%= f.label :City %><br />
    <%= f.text_field :address_city, autofocus: true, autocomplete: 'address_city', class: "address", id:"address_city" %>
  </div>
  <div class="field">
    <%= f.label :Street %><br />
    <%= f.text_field :address_street, autofocus: true, autocomplete: 'address_street', class: "address", id: "address_street" %>
    <!-- placeholder: 'address_street'にするとフィールドにaddress_streetが出る -->
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>