<div class="container">

  <div class="row">

    <div class="col-xs-3">
    <%= render 'books/list', user: @user %>
    <%= render 'books/list2', book: @book %>
    <!-- 共通部分テンプレート -->
    </div>


    <div class="col-xs-9">
      <h2>Users</h2>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
         <!-- すべてのuser表示 -->
         <% @users.each do |users| %>

          <tr>
            <td>
              <%= attachment_image_tag users, :profile_image, :fill, 50, 50, fallback: "no_image.jpg" %>
            </td>
            <td>
              <%= users.name %>
            </td>
            <td>
              フォロー数 : <%= users.follower.count %>
            </td>
            <td>
              フォロワー数 : <%= users.followed.count %>
            </td>
            <td>
            <!-- フォローボタン -->
            <% unless users == current_user %>
                  <% if current_user.following?(users) %>
                   <%= link_to "フォロー外す", unfollow_path(users.id), method: :delete %>
                    <% else %>
                   <%= link_to "フォローする", follow_path(users.id), method: :post %>
                  <% end %>
            <% end %>
            <!-- フォローボタンここまで -->
            </td>
            <td>
              <%= link_to "Show",user_path(users.id) %>
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>